# Copy this file to .env and adjust the values for your target environment.
NODE_ENV=production
PORT=3000
HOST_PORT=3000
HOSTNAME=0.0.0.0
NEXT_TELEMETRY_DISABLED=1
BASE_URL=http://192.168.91.112:9999
IS_STAGE=true
IMAGE_NAME=opencbanking-pwa
IMAGE_TAG=latest
